<footer class="bg-white rounded shadow p-5 mb-4 mt-4">
    <div class="container text-center">
        <!-- Centered copyright text in grey -->
        <p class="mb-2" style="color: #6c757d; font-size: 0.9rem;">
            &copy; Zinab Bin Sumait - All Rights Reserved.
        </p>
        <!-- Centered links in blue, smaller size, with underline -->
        <p>
            <a target="_blank" href="https://github.com/zinabb"
               style="font-size: 0.9rem; color: #007bff; text-decoration: underline; margin-right: 1rem;">
                Github
            </a>
            <a target="_blank" href="https://www.linkedin.com/in/zinab-b-886865201/"
               style="font-size: 0.9rem; color: #007bff; text-decoration: underline;">
                LinkedIn
            </a>
        </p>
    </div>
</footer>

